{% extends 'base.html' %}
{% load static %}

      {% block content %}
      <section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
        <div class="my-auto">
          <h1 class="mb-0">郭柏廷
            <span class="text-primary">Kuo B.T.</span>
          </h1>
          <p class="itro-text subheading mb-5">Experienced sales with marketing sense, data analysis and coding skill.
            <!-- <a href="mailto:guoboting@gmail.com"></a> -->
          </p>
          <!-- <p class="mb-5 itro-text">Experienced sales with marketing sense, data analysis and coding skill.</p>  -->
          <ul class="list-inline list-social-icons mb-0">
            <li class="list-inline-item">
              <a target="_blank" href="https://www.facebook.com/boting.guo">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a target="_blank" href="https://github.com/GuoBoTing">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a target="_blank" href="https://www.linkedin.com/in/guoboting/">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="mailTo:guoboting@gmail.com">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-envelope-o fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
          </ul>
        </div>
      </section>

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="experience">
        <div class="my-auto">
          <h2 class="mb-5">Experience</h2>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Account Manager</h3>
              <div class="subheading mb-3">Ogilvyone Taiwan</div>
              <p>Ogilvy is the leading advertising agency in the world. I am in charge of digital marketing strategy planing and executive. My clients include high-end hotel, construction agent, charity foundation, alcohol brand etc</p>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">June 2017 - Present</span>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Account Manager</h3>
              <div class="subheading mb-3">MUZIK Creative Digital Ltd.</div>
              <p>MUZIK Creative Digital Ltd. is a classical music media company, its main product is MUZIKAir (Muzikair.com), an online media with streaming music service.My job was planning and selling the marketing solutions for the advertising sponsers </p>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">November 2015 - February 2017</span>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Founder</h3>
              <div class="subheading mb-3">Pumbox Studio</div>
              <p>Pumpbox is an educational learning platform for 12K students. Our goal is making students study more efficiently by flipped classroom, and changing the education environment in Taiwan.</p>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">August 2014 - November 2015</span>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">IPO Underwriter</h3>
              <div class="subheading mb-3">FIRST SECURITIES CO.,LTD</div>
              <p>Underwriting for domestic , offshore companies’ first IPO in Taiwan, and domestic/offshore fund raising.</p>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">April 2013 - July 2014</span>
            </div>
          </div>

        </div>

      </section>

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="education">
        <div class="my-auto">
          <h2 class="mb-5">Education</h2>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">National Tsing Hua University</h3>
              <div class="subheading mb-3">Bachelor of Economics</div>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">September 2006 - June 2010</span>
            </div>           
          </div>
          <div class="uni_logo">
            	<img src="{% static 'image/Flag_NHTU.gif' %}" alt="">
          </div>
        </div>
      </section>

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="skills">
        <div class="my-auto">
          <h2 class="mb-5">Skills</h2>
			<div class="business_skill">
				<div class="subheading mb-3">Business Skills</div>
	          	<ul class="fa-ul mb-0">
		            <li>
		              <i class="fa-li fa fa-check"></i>
		              Consultitive Salse</li>
		            <li>
		              <i class="fa-li fa fa-check"></i>
		              Business Dvelopment</li>
		            <li>
		              <i class="fa-li fa fa-check"></i>
		              Marketing strategy planning</li>
		            <li>
		              <i class="fa-li fa fa-check"></i>
		              Presentation</li>  
		            <li>
		              <i class="fa-li fa fa-check"></i>
		              Derive insight from the data</li>
                <li>
                  <i class="fa-li fa fa-check"></i>
                  Cross functional communication</li>
	          	</ul>
			</div>
          <div class="computer_skill">
          	<div class="subheading mb-3 proskills">Computer Skills</div>
          	<ul class="list-inline list-icons">
	            <li class="list-inline-item">
	              <i class="devicons devicons-html5"></i>
	            </li>
	            <li class="list-inline-item">
	              <i class="devicons devicons-css3"></i>
	            </li>          
	            <li class="list-inline-item">
	              <i class="devicons devicons-jquery"></i>
	            </li>
	            <li class="list-inline-item">
	              <i class="devicons devicons-python"></i>
	            </li>
              <li class="list-inline-item">
                <i class="devicons devicons-django"></i>
              </li> 
	            <li class="list-inline-item">
	              <i class="devicons devicons-bootstrap"></i>
	            </li>
	            <li class="list-inline-item">
	              <i class="devicons devicons-wordpress"></i>
	            </li>
	            <li class="list-inline-item">
	              <i class="devicons devicons-github_badge"></i>
	            </li>
          </ul>  
         </div>                 
        </div>
      </section>

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="certificated">
        <div class="my-auto">
          <h2 class="mb-5">Certifications</h2>
          <ul class="fa-ul mb-0">
            <li>
              <i class="fa-li fa fa-certificate  text-warning"></i>
              Google Analytics(分析)認證</li>
            <!-- <li>
              <i class="fa-li fa fa-certificate  text-warning"></i>
              AdWords認證</li> -->
            <li>
              <i class="fa-li fa fa-certificate  text-warning"></i>           
              TOEIC 855(Listening 475, Reading 380)</li>
            <li>
              <i class="fa-li fa fa-certificate  text-warning"></i>
              台大法律學分班結業</li>
            <li>
              <i class="fa-li fa fa-certificate  text-warning"></i>
              證券商高級業務員</li>
            <li>
          </ul>
        </div>
      </section>

    </div>

    {% endblock content %}